{% extends "layout.html" %}
{% block body %}
<h1>Details for job {{ job_id }}</h1>

<script src="{{ url_for('static', filename='js/job_details.js') }}"></script>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Job Status</h3>
	</div>
	<div class="panel-body">
		<div id="job-status"></div>
	</div>
	<div class="panel-heading">
		<h3 class="panel-title">Markers</h3>
	</div>
	<div class="panel-body">
		<div class="marker-table">
			<div id="marker-table"></div>
		</div>
	</div>	
</div>

<script>
    flowXL.jobDetails.init({{job_id}}, "job-status", 'marker-table');
</script>
</div>

{% endblock body %}
