{% extends "layout.html" %}
{% block body %}


<h1>Uploading Job {{job_id}}</h1>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Upload Files</h3>
		</div>
		<div class="panel-body">
			{% include 'blueimp_upload.html' %}
	</div>
	<div class="panel-heading">
		<h3 class="panel-title">Select Markers</h3>
	</div>
	<div class="panel-body">
		<div class="marker-table">
			<div id="marker-selector"></div>
		</div>
	</div>	
</div>
<button type="button" class="btn btn-primary" id="send-active-state">
	<span class="glyphicon glyphicon-play"></span> Run
</button>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ url_for('static', filename='vendor/jQuery-File-Upload-9.9.3/js/vendor/jquery.ui.widget.js')}}"></script>
<!-- The Templates plugin is included to render the upload/download listings-->
<script src="{{ url_for('static', filename='vendor/JavaScript-Templates-2.5.4/tmpl.min.js')}}"></script>

<!-- The basic File Upload plugin -->
<script src="{{ url_for('static', filename='vendor/jQuery-File-Upload-9.9.3/js/jquery.fileupload.js')}}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ url_for('static', filename='vendor/jQuery-File-Upload-9.9.3/js/jquery.fileupload-process.js')}}"></script>
<!-- The File Upload validation plugin -->
<script src="{{ url_for('static', filename='vendor/jQuery-File-Upload-9.9.3/js/jquery.fileupload-validate.js')}}"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ url_for('static', filename='vendor/jQuery-File-Upload-9.9.3/js/jquery.fileupload-ui.js')}}"></script>


<!-- Configures the file uploader widget -->
<script>
	$(function () {
		//'use strict';
		$('#fileupload').fileupload({
			url : '/api/1/jobs/{{job_id}}/upload'
		});

		// Loads the files that are already there
        $('#fileupload').addClass('fileupload-processing');
        $.ajax({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: $('#fileupload').fileupload('option', 'url'),
            dataType: 'json',
            context: $('#fileupload')[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                .call(this, $.Event('done'), {result: result});
        });
	});
</script>
<script src="{{ url_for('static', filename='js/marker_selector.js') }}"></script>
<script>
	var ms = new flowXL.MarkerSelector();
    ms.init({{job_id}}, "marker-selector");
	ms.bindSendActive('send-active-state');
</script>

{% endblock body %}
